<div class="grid grid-cols-6 gap-6">
  <!-- Planirani početak radova -->
  <div class="col-span-6 sm:col-span-3">
    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Planirani početak radova</label>
    <div class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white">
      <%= @sub_task.planned_start_date %>
    </div>
  </div>

  <!-- Planirani kraj radova -->
  <div class="col-span-6 sm:col-span-3">
    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Planirani kraj radova</label>
    <div class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white">
      <%= @sub_task.planned_end_date %>
    </div>
  </div>

  <!-- Planirani troškovi aktivnosti -->
  <div class="col-span-6 sm:col-span-3">
    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Planirani troškovi aktivnosti (#{@project.business.currency_symbol})</label>
    <div class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white">
      <%= @sub_task.planned_cost %>
    </div>
  </div>
</div>



<% 
  model_name = "Resources"
  paths = {
    edit_resource: ->(resource) { url_for([:edit, @current_business, resource.activityable]) }, 
    show_resource: ->(resource) { url_for([@current_business, resource.activityable]) }, 
    delete_resource: ->(resource) { url_for([@current_business, resource.activityable]) }
  }
%>


<%= render 'partials/table', 
           collection: @activities, 
           columns: {
             "Ime" => ->(activity) { activity.activityable.name }, 
             "Vrsta" => ->(activity) { activity.activity_type }, 
             "Opis" => ->(activity) { activity.activityable.description }, 
             "Količina" => ->(activity) { activity.quantity }, 
             "Jedinica mjere" => ->(activity) { activity.activityable.unit_of_measure }, 
             "Cijena po JM" => ->(activity) { activity.activityable.price_per_unit }, 
             "Ukupno" => ->(activity) { activity.total_cost }, 
           },
           turbo_frame_id: "resources-frame",
           model_name: model_name, 
           edit_path: "",
           show_path: "",
           delete_path: "",
           actions: [] %>


<%= render "modals/modal_resource" %>
