<div class="grid grid-cols-6 gap-6">
  <!-- Real Start Date -->
  <div class="col-span-6 sm:col-span-3">
    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"><%= t('subtasks.form.real_start_date') %></label>
    <div class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white">
      <%= @sub_task.real_start_date&.strftime("%d.%m.%Y") %>
    </div>
  </div>

  <!-- Real End Date -->
  <div class="col-span-6 sm:col-span-3">
    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"><%= t('subtasks.form.real_end_date') %></label>
    <div class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white">
      <%= @sub_task.real_end_date&.strftime("%d.%m.%Y") %>
    </div>
  </div>

  <!-- Real Cost -->
  <div class="col-span-6 sm:col-span-3">
    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"><%= t('subtasks.form.real_cost', currency: @project.business.currency_symbol) %></label>
    <div class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white">
      <%= @sub_task.real_cost %>
    </div>
  </div>
</div>

<% if @sub_task.real_auto_calculation %>
  <%= render 'partials/table_expandable' %>
<% end %>