<!-- Editable Task Form -->
<%= render "form", project: @project, task: @task %>
<!-- Subtasks table -->
<%= turbo_frame_tag "table_subtasks-frame" do %>
  <%= render 'partials/table',
           collection: (@subtasks || SubTask.none).ordered_by_position,
           columns: {
             t('tasks.table.id') => ->(subtask) { subtask.show_position },
             t('subtasks.form.name') => :name,
             t('subtasks.form.planned_start_date') => ->(subtask) { I18n.l(subtask.planned_start_date, format: :long) if subtask.planned_start_date },
             t('subtasks.form.planned_end_date') => ->(subtask) { I18n.l(subtask.planned_end_date, format: :long) if subtask.planned_end_date },
             t('subtasks.form.custom_fields') => :custom_fields
           },
           turbo_frame_id: "subtasks-frame",
           model_name: "SubTasks",
           search_path: @task.new_record? ? "#" : business_project_task_path(@current_business, @project, @task),
           new_path: @task.new_record? ? "#" : new_business_project_task_sub_task_path(@current_business, @project, @task),
           show_path: ->(subtask) { @task.new_record? ? "#" : business_project_task_sub_task_path(@current_business, @project, @task, subtask) },
           edit_path: ->(subtask) { @task.new_record? ? "#" : edit_business_project_task_sub_task_path(@current_business, @project, @task, subtask) },
           delete_path: ->(subtask) { @task.new_record? ? "#" : business_project_task_sub_task_path(@current_business, @project, @task, subtask) },
           actions: [] %>
<% end %>
<!-- Gantt -->
<div class="bg-white p-6 rounded-lg shadow-md mt-6">
  <h2 class="text-xl font-bold mb-4"><%= t('projects.show.timeline_title') %></h2>
  <div id="gantt_here"
    data-project-id="<%= @project.id %>"
    data-readonly="<%= @readonly %>"
    style="width: 100%; height: 600px;">
  </div>
  <!-- Documents table -->
  <%= render 'partials/table',
           collection: @documents || Document.none,
           columns: {
             t('documents.form.name') => :name,
             t('documents.form.description') => ->(document) { content_tag(:span, document.description&.truncate(25), title: document.description, class: "tooltip") },
             t('documents.form.size') => ->(document) { document.file.attached? ? "#{document.file.byte_size / 1024} KB" : t('documents.form.no_file') },
             t('documents.form.created_at') => ->(document) { document.created_at.strftime("%Y-%m-%d") }
           },
           turbo_frame_id: "documents-frame",
           model_name: "Documents",
           new_path: new_business_project_document_path(@current_business, @project, @task),
           edit_path: ->(_) { "" },
           show_path: ->(_) { "" },
           delete_path: ->(document) { business_project_document_path(@current_business, @project, document) },
           actions: [] %>
  <% if @task.persisted? %>
    <%= render "modals/modal_documents" %>
  <% end %>
