<!-- Editable Task Form -->
<%= render "form", project: @project, task: @task %>
<!-- Subtasks table -->
<%= turbo_frame_tag "table_subtasks-frame" do %>
  <%= render 'partials/table',
           collection: (@subtasks || SubTask.none).ordered_by_position,
           columns: {
             t('tasks.table.id') => ->(subtask) { subtask.show_position },
             t('subtasks.form.name') => :name,
             t('subtasks.form.unit_of_measure') => ->(subtask) { t_enum(subtask, :unit_of_measure) },
             t('subtasks.form.quantity') => :quantity,
             t('subtasks.form.planned_cost', currency: @project.business.currency_symbol) => :planned_cost,
             t('subtasks.form.price_per_unit', currency: @project.business.currency_symbol) => :price_per_unit,
             t('subtasks.form.planned_start_date') => ->(subtask) { I18n.l(subtask.planned_start_date) if subtask.planned_start_date },
             t('subtasks.form.planned_end_date') => ->(subtask) { I18n.l(subtask.planned_end_date) if subtask.planned_end_date }
                        },
           turbo_frame_id: "subtasks-frame",
           model_name: "SubTasks",
           search_path: @task.new_record? ? "#" : business_project_task_path(@current_business, @project, @task),
           new_path: @task.new_record? ? "#" : new_business_project_task_sub_task_path(@current_business, @project, @task),
           show_path: ->(subtask) { @task.new_record? ? "#" : business_project_task_sub_task_path(@current_business, @project, @task, subtask) },
           edit_path: ->(subtask) { @task.new_record? ? "#" : edit_business_project_task_sub_task_path(@current_business, @project, @task, subtask) },
           delete_path: ->(subtask) { @task.new_record? ? "#" : business_project_task_sub_task_path(@current_business, @project, @task, subtask) },
           actions: [] %>
<% end %>
<!-- Gantt -->
<section class="bg-gray-50 dark:bg-gray-900 pt-5" data-controller="toggle" data-section-id="task-gantt" data-user-id="<%= current_user.id %>">
  <div class="mx-auto">
    <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden p-4">
      <div class="flex items-center gap-4 mb-4">
        <h2 class="text-l font-semibold text-gray-900 sm:text-2xl dark:text-white"><%= t('projects.show.timeline_title') %></h2>
        <label class="inline-flex items-center cursor-pointer">
          <input type="checkbox"
                 id="gantt-toggle"
                 checked
                 class="sr-only peer"
                 data-action="change->toggle#toggle"
                 data-toggle-target="switch">
          <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600 dark:peer-checked:bg-blue-600"></div>
        </label>
      </div>
      <div data-toggle-target="content" class="transition-all duration-300">
        <div id="gantt_here"
          data-project-id="<%= @project.id %>"
          data-readonly="<%= @readonly %>"
          style="width: 100%; height: 600px;">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Documents table -->
  <%= render 'partials/table',
           collection: @documents || Document.none,
           columns: {
             t('documents.form.name') => :name,
             t('documents.form.description') => ->(document) { content_tag(:span, document.description&.truncate(25), title: document.description, class: "tooltip") },
             t('documents.form.filename') => ->(document) { document_filename_display(document) },
             t('documents.form.created_at') => ->(document) { l(document.created_at.to_date) }
           },
           turbo_frame_id: "documents-frame",
           model_name: "Documents",
           context: "task",
           new_path: (@task.persisted? ? new_business_project_task_document_path(@current_business, @project, @task) : nil),
           edit_path: ->(_) { "" },
           show_path: ->(_) { "" },
           delete_path: ->(document) { @task.persisted? ? document_path(document) : "" },
           actions: [] %>
  <% if @task.persisted? %>
    <%= render "modals/modal_documents" %>
  <% end %>
