<div id="row_<%= project.id %>" class="p-4 mb-4 space-y-6 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800">
  <!-- Header -->
  <div class="flex justify-between items-center px-4 py-2 text-gray-800 border border-gray-200 border-dashed rounded dark:text-gray-400 dark:border-gray-600">
    <h2 class="text-xl font-bold">Projekat id: <%= project.client_project_id %></h2>
    <span class="text-sm font-semibold text-gray-600 dark:text-gray-400">Broj aktivnosti: <%= project.tasks.count %></span>
  </div>
  <!-- Projekt Parametri -->
  <div class="flex flex-col  space-y-2 px-4 py-2 text-gray-700 border border-gray-200 border-dashed rounded dark:text-gray-400 dark:border-gray-600">
    <p><span class="font-semibold">Naziv projekta:</span> <%= project.name %></p>
    <p><span class="font-semibold">Adresa projekta:</span> <%= project.address %></p>
    <p><span class="font-semibold">Vo캠a projekta:</span> <%= project.project_manager %></p>
    <p><span class="font-semibold">Planirani po캜etak projekta:</span> <%= project.planned_start_date&.strftime("%d.%m.%Y") %></p>
    <p><span class="font-semibold">Planirani zavr코etak projekta:</span> <%= project.planned_end_date&.strftime("%d.%m.%Y") %></p>
    <p><span class="font-semibold">Stvarni po캜etak projekta:</span> <%= project.real_start_date&.strftime("%d.%m.%Y") || "N/A" %></p>
    <p><span class="font-semibold">Stvarni zavr코etak projekta:</span> <%= project.real_end_date&.strftime("%d.%m.%Y") || "N/A" %></p>
    <p><span class="font-semibold">Planirani tro코ak:</span> <%= project.planned_cost ? "#{project.planned_cost} #{@current_business.currency_symbol}" : "N/A" %></p>
    <p><span class="font-semibold">Stvarni tro코ak:</span> <%= project.real_cost ? "#{project.real_cost} #{@current_business.currency_symbol}" : "N/A" %></p>
    <p><span class="font-semibold">Status:</span> <%= project.status.humanize %></p>
    <p><span class="font-semibold">Opis projekta:</span> <%= project.description.present? ? project.description : "N/A" %></p>
    <% if project.custom_fields.present? %>
      <% custom_fields = JSON.parse(project.custom_fields.to_json) rescue {} %>
      <%= render 'modals/modal_custom_fields', custom_fields: custom_fields, item: project %>
      <button type="button" class="text-blue-600 hover:underline open-modal" data-target="custom-fields-modal-<%= project.id %>">
        View Custom fields
      </button>
    <% end %>
  </div>
  <!-- Akcije -->
  <div class="flex flex-col items-center px-4 py-4 border border-gray-200 border-dashed rounded dark:border-gray-600">
    <%= link_to new_business_project_task_path(@current_business, project), class: "w-2/3 bg-primary-600 text-white text-center px-4 py-2 mb-4 rounded-lg hover:bg-primary-700 focus:ring-4 focus:ring-primary-300 transition", data: { turbo: "false" } do %>
      + Dodaj Aktivnost
    <% end %>
    <%= link_to business_project_path(@current_business, project),
               class: "w-2/3 bg-gray-200 text-gray-800 text-center px-4 py-2 mt-2 rounded-lg hover:bg-gray-300 focus:ring-4 focus:ring-gray-300 transition",
               data: { turbo: "false" } do %>
      游늶 Pregled Projekta
    <% end %>
  </div>
  <!-- Dropdown -->
  <div class="flex justify-end px-4 py-2 border border-gray-200 border-dashed rounded dark:border-gray-600">
    <button id="dropdownMenuButton-<%= project.id %>" data-dropdown-toggle="dropdownMenu-<%= project.id %>" class="inline-flex justify-end p-2 ...">
      <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 4 15">
        <path d="M3.5 1.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Zm0 6.041a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Zm0 5.959a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Z"/>
      </svg>
    </button>
    <div id="dropdownMenu-<%= project.id %>" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 ...">
      <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownMenuButton">
        <li>
          <%= link_to "Edit", edit_business_project_path(@current_business, project), data: {turbo: false}, class: "block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" %>
        </li>
        <li>
          <%= link_to "Delete", business_project_path(@current_business, project), data: { turbo_method: :delete, turbo_confirm: "Da li ste sigurni da 쬰lite obrisati projekat?" }, class: "block px-4 py-2 text-red-500 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" %>
        </li>
      </ul>
    </div>
  </div>
</div>
