<div id="row_<%= project.id %>" 
     class="w-full h-full flex flex-col justify-between p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm 
            dark:border-gray-700 sm:p-6 dark:bg-gray-800">
  <!-- Header -->
  <div class="flex justify-between items-center px-4 py-2">
    <h2 class="text-xl font-bold"><%= t('projects.form.name') %>: <%= project.name %></h2>
    <span class="text-sm font-semibold text-gray-600 dark:text-gray-400"><%= t('projects.form.task_count') %>: <%= project.tasks.count %></span>
  </div>
  <!-- Project Parameters -->
  <div class="flex flex-col space-y-2 px-4 py-2 text-gray-700">
    <p><span class="font-semibold"><%= t('projects.form.address') %>:</span> <%= project.address %></p>
    <p><span class="font-semibold"><%= t('projects.form.project_manager') %>:</span> <%= project.project_manager %></p>
    <p><span class="font-semibold"><%= t('projects.form.planned_start_date') %>:</span> <%= l(project.planned_start_date) if project.planned_start_date %></p>
    <p><span class="font-semibold"><%= t('projects.form.planned_end_date') %>:</span> <%= l(project.planned_end_date) if project.planned_end_date %></p>
    <p><span class="font-semibold"><%= t('projects.form.planned_cost', currency: project.business.currency_symbol) %>:</span> <%= project.planned_cost ? "#{project.planned_cost} #{project.business.currency_symbol}" : t('projects.form.not_available') %></p>
    <p><span class="font-semibold"><%= t('projects.form.status') %>:</span> <%= I18n.t("activerecord.attributes.project.statuses.#{project.status}", default: project.status.humanize) %></p>
    <p>
      <span class="font-semibold"><%= t('projects.form.description') %>:</span>
      <%= project.description.present? ? truncate(project.description, length: 100) : t('projects.form.not_available') %>
    </p>
    <% if project.custom_fields.present? %>
  <% custom_fields = JSON.parse(project.custom_fields.to_json) rescue {} %>
  <%= render 'modals/modal_custom_fields', custom_fields: custom_fields, item: project %>
  <div class="flex justify-center px-4 mt-3">
    <button type="button"
            data-target="custom-fields-modal-<%= project.id %>"
            class="min-w-[200px] inline-flex items-center justify-center text-center bg-gray-200 text-gray-800 px-4 py-2 rounded-lg hover:bg-gray-300 focus:ring-4 focus:ring-gray-300 transition open-modal">
       <%= t('projects.form.view_custom_fields') %>
    </button>
  </div>
<% end %>

  </div>
  <!-- Actions -->
  <div class="flex flex-wrap justify-evenly gap-3 gap-y-3 px-4 py-4">
    <!-- Add Task -->
    <%= link_to new_business_project_task_path(project.business, project),
            class: "min-w-[200px] inline-flex items-center justify-center text-center bg-primary-600 text-white px-4 py-2 rounded-lg hover:bg-primary-700 focus:ring-4 focus:ring-primary-300 transition",
            data: { turbo: false } do %>
      <svg class="w-5 h-5 mr-2 text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path>
      </svg>
      <%= t('projects.form.add_task') %>
    <% end %>
    <!-- View Project -->
    <%= link_to business_project_path(project.business, project),
              class: "min-w-[200px] text-center bg-gray-200 text-gray-800 px-4 py-2 rounded-lg hover:bg-gray-300 focus:ring-4 focus:ring-gray-300 transition",
              data: { turbo: false } do %>
      📋 <%= t('projects.form.view_project') %>
    <% end %>
    <!-- Edit Project -->
    <%= link_to edit_business_project_path(project.business, project),
              class: "min-w-[200px] text-center  bg-gray-200 text-gray-900 px-4 py-2 rounded-lg  hover:bg-gray-300 focus:ring-4 focus:ring-yellow-300 transition",
              data: { turbo: false } do %>
      ✏️ <%= t('projects.form.edit_project') %>
    <% end %>
    <!-- Delete Project -->
    <%= link_to business_project_path(project.business, project),
              data: { turbo_method: :delete, turbo_confirm: t('confirmations.delete', name: project.name) },
              class: "min-w-[200px] text-center bg-red-600 text-white px-4 py-2 rounded-lg hover:bg-red-700 focus:ring-4 focus:ring-red-300 transition" do %>
      🗑️ <%= t('projects.form.delete_project') %>
    <% end %>
  </div>
</div>