<%
  model_name = t('tasks.form.model_name')
  paths = {
    project: business_project_path(@current_business, @project),
    projects: business_projects_path(@current_business),
    new_task: new_business_project_task_path(@current_business, @project),
    show_task: ->(task) { business_project_task_path(@current_business, @project, task) },
    edit_task: ->(task) { edit_business_project_task_path(@current_business, @project, task) },
    delete_task: ->(task) { business_project_task_path(@current_business, @project, task) }
  }
%>
<%= render 'partials/header1',
           title: t('breadcrums.project_overview', name: @project.name),
           model_name: model_name,
           search_path: paths[:project],
           new_path: paths[:new_task],
           edit_path: edit_business_project_path(@current_business, @project),
           additional_crumbs: [
             { name: t('breadcrums.project_overview', name: @project.name), path: paths[:project] }
           ] %>
<%# Disable Turbo Frame caching to ensure fresh renders on each deletion %>
<%= turbo_frame_tag "table_tasks-frame", data: { turbo_cache: false } do %>
  <%= render 'partials/table_expandable_task' %>
<% end %>
<section class="bg-gray-50 dark:bg-gray-900 pt-5 mb-5" data-controller="toggle" data-section-id="project-gantt" data-user-id="<%= current_user.id %>">
  <div class="mx-auto">
    <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden p-4">
      <div class="flex items-center gap-4 mb-4">
        <h2 class="text-l font-semibold text-gray-900 sm:text-2xl dark:text-white"><%= t('projects.show.timeline_title') %></h2>
        <label class="inline-flex items-center cursor-pointer">
          <input type="checkbox"
                 id="gantt-toggle"
                 checked
                 class="sr-only peer"
                 data-action="change->toggle#toggle"
                 data-toggle-target="switch">
          <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600 dark:peer-checked:bg-blue-600"></div>
        </label>
      </div>
      <div data-toggle-target="content" class="transition-all duration-300">
        <div id="gantt_here"
          data-project-id="<%= @project.id %>"
          data-readonly="<%= @readonly %>"
          style="width: 100%; height: 600px;">
        </div>
      </div>
    </div>
  </div>
</section>
  <%
  model_name = "Documents"
  paths_doc = {
    new_document: new_business_project_document_path(@current_business, @project),
    edit_document: ->(document) { edit_business_project_document_path(@current_business, @project, document) },
    show_document: ->(document) { business_project_document_path(@current_business, @project, document) },
    delete_document: ->(document) { business_project_document_path(@current_business, @project, document) }
  }
%>
  <%= render 'partials/table',
           collection: @documents,
           columns: {
             t('documents.form.name') => :name,
             t('documents.form.description') => ->(document) { content_tag(:span, document.description&.truncate(25), title: document.description, class: "tooltip") },
             t('documents.form.category') => ->(document) { document.category.humanize },
             t('documents.form.size') => ->(document) { document.file.attached? ? "#{document.file.byte_size / 1024} KB" : t('documents.form.no_file') },
             t('documents.form.created_at') => ->(document) { l(document.created_at.to_date) }
           },
           turbo_frame_id: "documents-frame",
           model_name: model_name,
           context: "project",
           search_path: paths_doc[:documents],
           new_path: paths_doc[:new_document],
           edit_path: paths_doc[:edit_document],
           show_path: paths_doc[:show_document],
           delete_path: paths_doc[:delete_document],
           actions: [] %>
  <%= render "modals/modal_documents"%>
