<div class="p-6 bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700">
  <!-- Breadcrumbs -->
  <%= render "partials/breadcrumbs" %>
  <!-- Title and Search/Buttons -->
  <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between">
    <!-- Title -->
    <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white mb-4 sm:mb-0">
      <%= @project.name %>
    </h1>
    <!-- Search and Add New Task -->
    <div class="flex justify-between items-center space-x-3">
      <!-- Search -->
      <form action="#" method="GET" class="lg:pr-3">
        <label for="task-search" class="sr-only">Search</label>
        <div class="relative">
          <input type="text" name="search" id="task-search" placeholder="Search for tasks" 
            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
        </div>
      </form>
      <!-- Add New Task Button -->
      <%= link_to new_project_task_path(@project), class: "inline-flex items-center justify-center px-3 py-2 text-sm font-medium text-white bg-primary-700 rounded-lg hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" do %>
        <svg class="w-5 h-5 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path>
        </svg>
        Dodaj Aktivnost
      <% end %>
    </div>
  </div>
</div>
<div class="flex flex-col ">
  <div class="overflow-x-auto">
    <div class="inline-block align-middle w-full" style="width: -webkit-fill-available;">
      <div class="overflow-hidden shadow">
        <table class="w-full divide-y divide-gray-200 table-auto dark:divide-gray-600">
          <thead class="bg-gray-100 dark:bg-gray-700">
            <tr>
              <th scope="col" class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">
                Naziv
              </th>
              <th scope="col" class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">
                Količina
              </th>
              <th scope="col" class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">
                Jedinica Mere
              </th>
              <th scope="col" class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">
                Planirani Početak
              </th>
              <th scope="col" class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">
                Planirani Kraj
              </th>
              <th scope="col" class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">
                Status
              </th>
              <th scope="col" class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">
                Akcije
              </th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700">
            <% @project.tasks.each do |task| %>
              <tr class="hover:bg-gray-100 dark:hover:bg-gray-700">
                <td class="p-4 text-base font-normal text-gray-900 dark:text-white overflow-hidden truncate max-w-[200px]">
                  <%= task.description %>
                </td>
                <td class="p-4 text-base font-normal text-gray-500 dark:text-gray-400 overflow-hidden truncate max-w-[100px]">
                  <%= task.quantity %>
                </td>
                <td class="p-4 text-base font-normal text-gray-500 dark:text-gray-400 overflow-hidden truncate max-w-[100px]">
                  <%= task.unit %>
                </td>
                <td class="p-4 text-base font-normal text-gray-500 dark:text-gray-400 whitespace-nowrap">
                  <%= task.planned_start_date.strftime("%d.%m.%Y") if task.planned_start_date %>
                </td>
                <td class="p-4 text-base font-normal text-gray-500 dark:text-gray-400 whitespace-nowrap">
                  <%= task.planned_end_date.strftime("%d.%m.%Y") if task.planned_end_date %>
                </td>
                <td class="p-4 text-base font-normal text-gray-900 dark:text-white">
                  <div class="flex items-center">
                    <div class="h-2.5 w-2.5 rounded-full bg-green-400 mr-2"></div>
                    Završeno
                  </div>
                </td>
                <td class="p-4 space-x-2 whitespace-nowrap">
                  <!-- Edit Button -->
                  <%= link_to edit_project_task_path(@project, task), 
        class: "inline-flex items-center px-3 py-2 text-sm font-medium text-white bg-primary-700 rounded-lg hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" do %>
                    <span>Uredi</span>
                  <% end %>
                  <!-- Delete Button -->
                  <%= link_to "Obriši", project_task_path(@project, task), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Da li ste sigurni da želite obrisati aktivnost?" }, 
        class: "inline-flex items-center px-3 py-2 text-sm font-medium text-white bg-red-600 rounded-lg hover:bg-red-800 focus:ring-4 focus:ring-red-300 dark:focus:ring-red-900" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="max-w-none mx-auto">
  <div id="gantt_here" class="w-full h-[600px] overflow-hidden"></div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function () {
  gantt.config.date_format = "%Y-%m-%d %H:%i:%s";

  // Prikaz samo meseci
  gantt.config.scales = [
    { unit: "month", step: 1, format: "%F %Y" }
  ];

  // Prilagodba vremenskog raspona
  gantt.attachEvent("onLoadEnd", function () {
    const tasks = gantt.getTaskByTime(); // Dohvati sve zadatke u trenutnom rasponu
    if (tasks.length > 0) {
      const minDate = gantt.getTaskStart(tasks[0].id); // Početak prvog zadatka
      const maxDate = gantt.date.add(minDate, 1, "year"); // Godinu dana unapred od prvog datuma

      gantt.config.start_date = minDate;
      gantt.config.end_date = maxDate;
      gantt.render(); // Ponovo renderuj grafikon sa novim rasponom
    }
  });

  // Inicijalizacija Gantt-a
  gantt.init("gantt_here");
  gantt.load("/api/data");

  // Sinhronizacija sa backend-om
  var dp = new gantt.dataProcessor("/api");
  dp.init(gantt);
  dp.setTransactionMode("REST");
});



</script>
