<div id="custom-resources" class="hidden" data-controller="custom-resource">
  <%= form_with(model: CustomResource.new, 
              url: business_project_task_sub_task_custom_resources_path(@task.project.business, @task.project, @task, @sub_task),
              method: :post, 
              local: true, 
              data: { turbo: false }) do |f| %>
    <%= f.hidden_field :activity_id, value: '' %>
    <%= f.hidden_field :authenticity_token, value: form_authenticity_token %>
    <div class="mb-4">
      <%= f.label :category, t('resources.table.category'), class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
      <%= f.select :category, [['-- ' + t('resources.form.select_category') + ' --', nil]] + CustomResource.categories.keys.map { |key| [key.humanize, key] }, {},
        class: "shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white",
        data: { action: "change->custom-resource#updateResources" } %>
    </div>
    <div class="mb-4">
      <%= f.label :name, t('resources.table.name'), class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
      <%= f.text_field :name, class: "shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600" %>
    </div>
    <div class="mb-4 hidden" data-target="custom-resource.firstName">
      <%= f.label :first_name, t('resources.table.first_name'), class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
      <%= f.text_field :first_name, class: "shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600" %>
    </div>
    <div class="mb-4 hidden" data-target="custom-resource.lastName">
      <%= f.label :last_name, t('resources.table.last_name'), class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
      <%= f.text_field :last_name, class: "shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600" %>
    </div>
    <div class="mb-4 hidden">
      <%= f.label :profession, t('resources.table.profession'), class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
      <%= f.text_field :profession, class: "shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600" %>
    </div>
    <div class="mb-4">
      <%= f.label :unit_of_measure, t('resources.table.unit_of_measure'), class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
      <%= f.select :unit_of_measure, [], { include_blank: t('resources.form.select_unit') }, id: "custom_resource_unit_of_measure",
                class: "shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600" %>
    </div>
    <div class="mb-4">
      <%= f.label :start_date, t('resources.table.planned_start_date'), class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
      <%= f.date_field :start_date, class: "shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600" %>
    </div>
    <div class="mb-4">
      <%= f.label :end_date, t('resources.table.planned_end_date'), class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
      <%= f.date_field :end_date, class: "shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600" %>
    </div>
    <div class="mb-4">
      <%= f.label :quantity, t('resources.table.quantity'), class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
      <%= f.number_field :quantity, class: "shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600", data: { action: "input->custom-resource#updateQuantity", custom_resource_target: "quantity" } %>
    </div>
    <div class="mb-4">
      <%= f.label :price_per_unit, t('resources.table.price_per_unit'), class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
      <%= f.number_field :price_per_unit, step: 0.01, class: "shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600", data: { action: "input->custom-resource#updateQuantity", custom_resource_target: "pricePerUnit" } %>
    </div>
    <div class="mb-4">
      <%= f.label :description, t('resources.table.description'), class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
      <%= f.text_area :description, class: "shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600" %>
    </div>
    <div class="mb-4">
      <%= f.label :total_cost, t('resources.table.total_cost'), class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
      <%= f.text_field :total_cost, readonly: true, class: "shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600", data: { custom_resource_target: "totalCost" } %>
    </div>
    <div class="flex justify-end">
      <%= f.submit t('resources.form.create_custom_resource'), class: "px-4 py-2 text-sm text-white bg-primary-600 rounded-lg hover:bg-primary-700" %>
    </div>
  <% end %>
</div>