<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <title>BonacApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-cache-control" content="no-cache">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- CSS Files -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <!-- Header partial equivalent -->
    <%= render "partials/header" %>
    <%= favicon_link_tag "favicon-32x32.png", rel: "icon", type: "image/png", sizes: "32x32" %>
  </head>
  <body class="bg-gray-50 dark:bg-gray-800 <%= 'bg-white dark:bg-gray-900' if params[:white_bg] %>">
    <div id="flash-messages" class="fixed top-4 left-1/2 transform -translate-x-1/2 z-50 transition-opacity duration-500">
      <%= render "partials/flash_messages" %>
    </div>
    <!-- Glavni wrapper za sadržaj -->
    <main class="bg-gray-50 dark:bg-gray-900 min-h-screen flex flex-col">
      <% if controller_name.in?(["sessions", "registrations", "passwords"]) %>
        <div class="flex items-center justify-center flex-grow px-6">
          <div class="w-full flex flex-col items-center justify-center px-6 pt-8 mx-auto md:h-screen pt:mt-0 dark:bg-gray-900">
            <%= yield %>
          </div>
        </div>
      <% else %>
        <%= render "partials/navbar" %>
        <div class="flex pt-16 overflow-hidden bg-gray-50 dark:bg-gray-900">
          <%= render "partials/sidebar" %>
          <div id="main-content" class="relative w-full h-full overflow-y-auto bg-gray-50 lg:ml-64 dark:bg-gray-900 p-6">
            <%= yield %>
          </div>
        </div>
      <% end %>
    </main>
  </body>
</html>
