<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <title>ConstructionManagementApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <!-- CSS Files -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
    <!-- Header partial equivalent -->
    <%= render "partials/header" %>
  </head>
  <body class="bg-gray-50 dark:bg-gray-800 <%= 'bg-white dark:bg-gray-900' if params[:white_bg] %>">
    <!-- Main Content -->
    <div id="main-content">
      <%= yield %>
    </div>
  </body>
</html>
